.wrapper
  =render partial: 'sideGroup'
  .mainChat
    .mainheader
      .mainheader__group
        .mainheader__groupName
          -# = @group.name
        %ul.mainheader__memberList
          -# Member：
          %li.mainheader__member
            -# - @group.users.each do |user|
            -#   = user.name
      %li.mainheader__Button
        = icon("fas", "user-edit")
        = link_to '作成', new_group_path(current_user)

    .MessageField
    
    .Chatfooter
    -# =render partial: 'messages/mainChat'
