.wrapper
  =render partial: 'sideGroup'
  .mainChat
    .mainHeader
      .mainHeader__group
        .mainHeader__groupName
          -# = @group.name
        %ul.mainHeader__memberList
          -# Member：
          %li.mainHeader__member
            -# - @group.users.each do |user|
            -#   = user.name
      %li.mainHeader__Button
        = icon("fas", "user-edit")
        = link_to '作成', new_group_path(current_user)

    .MessageField
    
    .Chatfooter
    -# =render partial: 'messages/mainChat'
