=render partial: 'reports/header'
=render partial: 'reports/menu'

.Wrapper
  =render partial: 'sideGroup'
  .Main
    %h1 新規グループ作成
    = render partial: 'form', locals: { group: @group }

=render partial: 'reports/footer'