* {
  box-sizing: border-box;
}

.Notification {
  .notice {
    background-color: $palette-trueBlue;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: red;
    color: #fff;
    text-align: center;
  }
}