.MainHeader {
  height: 100px;
  padding: 0 40px;
  border-bottom: solid 1px #eee;
  display: flex;
  justify-content: space-between;

  &__groupName {
    color: #333;
    font-size: 20px;
    margin-top: 35px;
  }

  &__memberList {
    color: #999;
    display: flex;
    font-size: 12px;
    margin-top: 15px;
  }

  &__member {
    padding-right: 5px;
  }
  &__newButton {
    display: block;
    border: 1px solid #38AEF0;
    color: #38AEF0;
    height: 20px;
    // width: 50px;
    line-height: 20px;
    // margin-top: 28px;
    padding: 0 20px;
    text-decoration: none;
    cursor: pointer;
    a {
      font-size: 16px;
      text-decoration: none;
      color: #38aef0;
    }
  }

  &__editButton {
    display: block;
    border: 1px solid #38AEF0;
    color: #38AEF0;
    height: 20px;
    // width: 50px;
    line-height: 20px;
    // margin-top: 28px;
    padding: 0 20px;
    text-decoration: none;
    cursor: pointer;
    a {
      font-size: 16px;
      text-decoration: none;
      color: #38aef0;
    }
  }
}