.MessageField {
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 35px 40px 0;
  height: calc(100vh - 100px - 90px);
  overflow: scroll;
}

.MessageBox {
  margin-bottom: 46px;
}

.MessageInfo {
  display: flex;

  &__userName {
    color: #434a54;
    font-size: 16px;
    font-weight: bold;
  }

  &__date {
    color: #999999;
    font-size: 12px;
    padding-left: 10px;
  }
}

.Message {
  margin-top: 12px;

  &__content {
    color: #434a54;
    font-size: 14px;
  }

  &__image {
    height: 300px;
  }
}