* {
  box-sizing: border-box;
}

.Mypage {

  &__edit {
    color: #fafafa;
    background-color: $palette-trueBlue;
    // font-weight: normal;
    // line-height: 10px;
    // padding: 5px;
    margin: 5px;
    font-size: 15px;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    width: 140px;
    border-radius: 25px;

    &--icon {
      padding-right: 5px;
    }
    a {
      text-decoration: none;
      color: #fafafa;
    }
  }

  &__prof{
    &--image {
      .img {
        height: 200px;
        width: 200px;
        border-radius: 100px;
      }
    }
  }
}

a {
  text-decoration: none;
  // list-style: none;
  color: #333;
}