* {
  box-sizing: border-box;
}

.Wrapper {
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;

}

.Side {
  background-color: $palette-trueBlue;
  width: 30vw;
}

.Main {
  color: #333;
  width: 70vw;
  padding: 0 20px ;
  overflow: scroll;
  background-color: #fafafa;
}

.Report {
  width: 100%;
  text-align: center;

  &__contents {
    font-size: 15px;

  }

  &__date {
    font-size: 15px;
  }

  &__job {
    font-size: 15px;

  }

  &__times {
    display: flex;
    justify-content: center;
    margin-left: 30px;
    p {
      color: #333;
      font-size: 14px;
    }
    
    // float: left;
    // margin-left: 43px;
    // display: flex;
    // text-align: center;
    // position: relative;
    // font-size: 50px;
  }

  &__hour {}

  &__time {
    // position: absolute;
    // top: 0px;
    // right: 20px;
    // display: inline;
    // background-color: linen;
    font-size: 15px;
  }

  &__imp {
    // background-color: lightskyblue;

  }

  &__submit {
    // background-color: linen;

  }


}

.ReportBox {
  background-color: #ffe8d8;
  border: 1px solid #ffe8d8;
  border-radius: 5px;
  display: flex;
  &__list {
    display: flex;
  }
  &__config {
    
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    &--show {
      background-color: #ffe8d8;
      // color: #fafafa;
      margin-right: 5px;
      border-radius: 5px;
    }
    &--edit {
      background-color: #ffe8d8;
      // color: #fafafa;
      margin-right: 5px;
      border-radius: 5px;
    }
    &--delete {
      background-color: #ffe8d8;
      // color: #fafafa;
      margin-right: 5px;
      border-radius: 5px;
    }
  }
}