.Menu
  .menu
    %ul.menu__list
      %li.menu__box
      = link_to root_path(current_user) do
        = "ホーム"
      %li.menu__box
      = link_to root_path(current_user) do
        = "レポート入力"
      %li.menu__box
        レポート集計
      %li.menu__box
        グループ
      %li.menu__box--search
        検索